
.main-book-div {
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: center;
    place-content: center;
    align-items: center;
    margin: auto;
}

.main-div {
    display: flex;
    margin-top: 30px;
    width: 95%;
    margin: auto;
}

.bookitem-card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
    align-items: center;
    margin: 10px;
}